table {
    margin: 100px auto 100px auto;
    width: 30%;
}

table td {
    padding: 0 0 15px 0;
}

table input[type="text"], table input[type="password"]{
    width: 100%;
}

#submit{
    text-align: right;
}