@import url(http://fonts.googleapis.com/css?family=Roboto);

footer{
    background: #6667ab;
    color: #fff;
    bottom: 0;
    
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 8px;
}

.content p{
    max-width: 500px;
    margin: 0.1px auto;
    margin-top: 4px;
    font-size: 14px;
}

.source{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 33px;
    margin-bottom: 8px;

}

img {
    width: 40px;
    height: 40px;
}
.bottom{
    text-align: center;
    background: #48497a;
    padding: 1px 0;

}

.bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}