table {
    margin: 50px auto 50px auto;
    width: 50%;
}

table td {
    padding: 0 20px 15px 0;
    text-align: right;
}

#mdp td {
    padding: 0 20px 0 0;
}

table input[type="text"], table input[type="password"], table input[type="email"]{
    width: 100%;
}

#submit{
    text-align: right;
}

main{
    height: fit-content;
}