@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

textarea {
    width: calc(100% - 10px);
    height: 300px;
    resize: none;
    margin: 15px 0 15px 0 ;
}

#post {
    border: 2px solid black;
}

#arbo {
    border: 2px solid black;
    margin: -2px;
    padding: 5px;
}

h3 {
    margin: 10px 15px 0 15px;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#post .post{
    margin: 0;
}

#post .markdown{
    margin: 10px 0 10px 0;
    border: 2px solid #999;
    background-color: #DDD;
    padding: 5px;
    font-family: 'Source Code Pro', sans-serif;
}

#post_bot {
    width: calc(100% - 20px);
    margin: 10px;
}

#post_bot td {
    font-size: 25px;
}

#post_container {
    padding: 10px;
    margin: 10px
}

.right{
    text-align: right;
}